<h3>Top Heroes</h3>
<div class="hero-cards-wrapper">
  <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="hero-card">
    <kendo-card [orientation]="'horizontal'" [width]="cardWidth">
      <img
        kendoCardMedia
        [src]="
          'https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/sofia.jpg'
        "
      />

      <div class="k-vbox">
        <kendo-card-header>
          <h4>{{hero.name}}</h4>
        </kendo-card-header>
      </div>
    </kendo-card>
  </div>
</div>
<my-hero-search></my-hero-search>
